{% extends 'base.html' %}

{% block content %}
    <h1>Страница пользователя</h1>
    <p>Пользователь: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Почта: {{ user.email }}</p>

    <div>
        <h2>Steam:</h2>
        {% if user.talantuser.steam_id %}
            <p>{{ user.talantuser.steam_id }}</p><a class="btn btn-outline-primary" href="{% url 'steam_logout' %}" role="button">Отвязать</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'steam_login' %}" role="button">Привязать</a>
        {% endif %}
    </div>
{% endblock %}